<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link rel="icon" href="src/images/logo.ico">
        <meta name="title" content="{{ title }}" />
        <meta name="description" content="{{ description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ url }}" />
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="twitter:url" content="{{ url }}" />
        <meta property="twitter:title" content="{{ title }}" />
        <meta property="twitter:description" content="{{ description }}" />
        <meta name="theme-color" content="#53c4f9">

        <link rel="stylesheet" href="/src/scss/style.scss" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
    </head> 
    <body>
    {# Navbar #}
        <nav>
            <article>
                <a href="index.html"><img src="/src/images/logo.svg" alt="icecream logo" /></a>
                <ul>
                    <li><a href="index.html#features" title="Features">Features</a></li>
                    <li><a href="https://docs.icecreammc.xyz" title="Docs" target="_blank">Docs</a></li>
                    <li><a href="https://github.com/IceCreamMC" title="GitHub" target="_blank">GitHub</a></li>
                    <li><a href="downloads.html" title="Download">Download</a></li>
                </ul>
            </article>
        </nav>
    {% block content %}{% endblock %}
    <footer>
        <h5>IceCream</h5>
        <ul>
            <li><a href="https://docs.icecreammc.xya" title="Docs" target="_blank">Docs</a></li>
            <li><a href="https://github.com/IceCreamMC" title="GitHub" target="_blank">GitHub</a></li>
            <li><a href="downloads.html" title="Download">Download</a></li>
        </ul>
        <p>
            © IceCreamMC 2023-2024
            Proudly made in Canada 🍁
        </p>
    </footer>
    </body>
{% block script %}{% endblock %}
</html>
